<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %></p>
<%- include("partials/footer"); -%>

<!-- reason for partials/header -->
<!-- as we have set public folder as static so it url will be /public/ -->